<!DOCTYPE html>
<html>
  <head>
    <title>RailsTemplate - Admin</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'stylesheets' %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render 'layouts/admin/header' %>
      <%= render 'layouts/admin/sidebar' %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content container-fluid">
          <!-- Alerts -->
          <%= render 'layouts/admin/flash' %>
          <!-- /.Alerts -->

          <!-- Content Header (Page header) -->
          <% if content_for?(:title) %>
            <section class="content-header">
              <h1>
                <%= yield(:title) %>
                <small><%= yield(:subtitle) %></small>
              </h1>
              <!-- <ol class="breadcrumb"> -->
              <!--   <li><a href="#"><i class="fa fa&#45;dashboard"></i> Level</a></li> -->
              <!--   <li class="active">Here</li> -->
              <!-- </ol> -->
            </section>
          <% end %>
          <!-- /.Content Header -->

          <!-- Page content -->
          <section class='content'>
            <%= yield %>
          </section>
          <!-- /.Page content -->

        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <%= render 'layouts/admin/footer' %>

      <%= render 'layouts/admin/control_panel' %>
    </div>
  </body>
</html>
