<!DOCTYPE html>
<html>
  <head>
    <title>RailsTemplate - Admin</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'stylesheets' %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render 'layouts/admin/header' %>
      <%= render 'layouts/admin/sidebar' %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content container-fluid">

          <!-- Page content -->
          <%= yield %>
          <!-- /.Page content -->

        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <%= render 'layouts/admin/footer' %>

      <%= render 'layouts/admin/control_panel' %>
    </div>
  </body>
</html>
