<!DOCTYPE html>
<html>
  <head>
    <title>RailsTemplate</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'stylesheets' %>
  </head>

  <body class="<%= body_class %>">
    <div class='body-container'>
      <%= yield %>
    </div>
  </body>
</html>
